{% extends 'layout.html' %}
{% block note %}
    <div class="new_form">
        <form method="post">
            {% csrf_token %}
            {{ form }}
        <br>
            <div class="row">
                <input type="submit" value="New note" class="button">
                <a role='button' tabindex="0"href="/note/all" class="button">Cancel</a>
            </div>
            {% if errors %}
                <div class="row">
                    {{ errors }}
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
