{% extends 'layout.html' %}
{% load staticfiles %}
{% block note %}
    <div id='note{{ note.id }}' class="note">
        {% if note.isFavorite %}

            <img id="btn-img{{ note.id }}"
                 class="btn-img"
                 src= {% static 'img/favorite.png' %}>

        {% else %}

            <img id="btn-img{{ note.id }}"
                 class="btn-img"
                 src= {% static 'img/not_favorite.png' %}>

        {% endif %}
        <h2 class="note-category">{{ note.category }}</h2>
        <h3 class="note-title">{{ note.title }}</h3>
        <br>

        <p class="note-text"> {{ note.text }} </p>
        <br>
        <p class="note-date">{{ note.date }}</p>
        <br>
        <br>
    </div>
{% endblock %}